<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userPersona">
            <h2><span jhiTranslate="eoloprjApp.userPersona.detail.title">User Persona</span> {{ userPersona.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.userPersona.idPersonaRef">Id Persona Ref</span></dt>
                <dd>
                    <span>{{ userPersona.idPersonaRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.userPersona.nomeUser">Nome User</span></dt>
                <dd>
                    <span>{{ userPersona.nomeUser }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.userPersona.idPersonaFisica">Id Persona Fisica</span></dt>
                <dd>
                    <div *ngIf="userPersona.idPersonaFisicaId">
                        <a [routerLink]="['/persona-fisica', userPersona.idPersonaFisicaId, 'view']">{{ userPersona.idPersonaFisicaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-persona', userPersona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
