<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invitoAttivita">
            <h2><span jhiTranslate="eoloprjApp.invitoAttivita.detail.title">Invito Attivita</span> {{ invitoAttivita.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.invitoAttivita.idTaskRef">Id Task Ref</span></dt>
                <dd>
                    <span>{{ invitoAttivita.idTaskRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.invitoAttivita.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="invitoAttivita.idTaskId">
                        <a [routerLink]="['/task', invitoAttivita.idTaskId, 'view']">{{ invitoAttivita.idTaskId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.invitoAttivita.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="invitoAttivita.idTaskId">
                        <a [routerLink]="['/invito', invitoAttivita.idTaskId, 'view']">{{ invitoAttivita.idTaskId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invito-attivita', invitoAttivita.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
