<div>
    <h2 id="page-heading">
        <span jhiTranslate="eoloprjApp.lineaOrdine.home.title">Linea Ordines</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-linea-ordine" [routerLink]="['/linea-ordine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="eoloprjApp.lineaOrdine.home.createLabel">
            Create a new Linea Ordine
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eoloprjApp.lineaOrdine.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="lineaOrdines?.length === 0">
        <span jhiTranslate="eoloprjApp.lineaOrdine.home.notFound">No lineaOrdines found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="lineaOrdines && lineaOrdines.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.idOrdineRef">Id Ordine Ref</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.idProdottoRef">Id Prodotto Ref</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.quantita">Quantita</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.importo">Importo</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.codIva">Cod Iva</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.lineaOrdine.idOrdineRef">Id Ordine Ref</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lineaOrdine of lineaOrdines ;trackBy: trackId">
                    <td><a [routerLink]="['/linea-ordine', lineaOrdine.id, 'view']">{{ lineaOrdine.id }}</a></td>
                    <td>{{ lineaOrdine.idOrdineRef }}</td>
                    <td>{{ lineaOrdine.idProdottoRef }}</td>
                    <td>{{ lineaOrdine.quantita }}</td>
                    <td>{{ lineaOrdine.importo }}</td>
                    <td>{{ lineaOrdine.codIva }}</td>
                    <td>
                        <div *ngIf="lineaOrdine.idOrdineRefId">
                            <a [routerLink]="['/ordine', lineaOrdine.idOrdineRefId , 'view']" >{{ lineaOrdine.idOrdineRefId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/linea-ordine', lineaOrdine.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/linea-ordine', lineaOrdine.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(lineaOrdine)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
