<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="task">
            <h2><span jhiTranslate="eoloprjApp.task.detail.title">Task</span> {{ task.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.task.idTask">Id Task</span></dt>
                <dd>
                    <span>{{ task.idTask }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idPraticaRef">Id Pratica Ref</span></dt>
                <dd>
                    <span>{{ task.idPraticaRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.nome">Nome</span></dt>
                <dd>
                    <span>{{ task.nome }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.stato">Stato</span></dt>
                <dd>
                    <span>{{ task.stato }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.prioritario">Prioritario</span></dt>
                <dd>
                    <span>{{ task.prioritario }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.pubblico">Pubblico</span></dt>
                <dd>
                    <span>{{ task.pubblico }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.version">Version</span></dt>
                <dd>
                    <span>{{ task.version }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idCondivisionePraticaRef">Id Condivisione Pratica Ref</span></dt>
                <dd>
                    <span>{{ task.idCondivisionePraticaRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idAssegnazioneTaskRef">Id Assegnazione Task Ref</span></dt>
                <dd>
                    <span>{{ task.idAssegnazioneTaskRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idInvitoRef">Id Invito Ref</span></dt>
                <dd>
                    <span>{{ task.idInvitoRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="task.idTaskId">
                        <a [routerLink]="['/consuntivo-task', task.idTaskId, 'view']">{{ task.idTaskId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="task.idTaskId">
                        <a [routerLink]="['/previsione-task', task.idTaskId, 'view']">{{ task.idTaskId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="task.idTaskId">
                        <a [routerLink]="['/assegnazione-task', task.idTaskId, 'view']">{{ task.idTaskId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.idTask">Id Task</span></dt>
                <dd>
                    <div *ngIf="task.idTaskId">
                        <a [routerLink]="['/invito-attivita', task.idTaskId, 'view']">{{ task.idTaskId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.task.pratica">Pratica</span></dt>
                <dd>
                    <div *ngIf="task.praticaId">
                        <a [routerLink]="['/pratica', task.praticaId, 'view']">{{ task.praticaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/task', task.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
