<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-task-heading" jhiTranslate="eoloprjApp.task.home.createOrEditLabel">Create or edit a Task</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idPraticaRef" for="field_idPraticaRef">Id Pratica Ref</label>
                    <input type="number" class="form-control" name="idPraticaRef" id="field_idPraticaRef"
                           formControlName="idPraticaRef"/>
                    <div *ngIf="editForm.get('idPraticaRef')!.invalid && (editForm.get('idPraticaRef')!.dirty || editForm.get('idPraticaRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idPraticaRef')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idPraticaRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.stato" for="field_stato">Stato</label>
                    <input type="number" class="form-control" name="stato" id="field_stato"
                           formControlName="stato"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.prioritario" for="field_prioritario">Prioritario</label>
                    <input type="number" class="form-control" name="prioritario" id="field_prioritario"
                           formControlName="prioritario"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.pubblico" for="field_pubblico">Pubblico</label>
                    <input type="number" class="form-control" name="pubblico" id="field_pubblico"
                           formControlName="pubblico"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idCondivisionePraticaRef" for="field_idCondivisionePraticaRef">Id Condivisione Pratica Ref</label>
                    <input type="number" class="form-control" name="idCondivisionePraticaRef" id="field_idCondivisionePraticaRef"
                           formControlName="idCondivisionePraticaRef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idAssegnazioneTaskRef" for="field_idAssegnazioneTaskRef">Id Assegnazione Task Ref</label>
                    <input type="number" class="form-control" name="idAssegnazioneTaskRef" id="field_idAssegnazioneTaskRef"
                           formControlName="idAssegnazioneTaskRef"/>
                    <div *ngIf="editForm.get('idAssegnazioneTaskRef')!.invalid && (editForm.get('idAssegnazioneTaskRef')!.dirty || editForm.get('idAssegnazioneTaskRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idAssegnazioneTaskRef')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idAssegnazioneTaskRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idInvitoRef" for="field_idInvitoRef">Id Invito Ref</label>
                    <input type="number" class="form-control" name="idInvitoRef" id="field_idInvitoRef"
                           formControlName="idInvitoRef"/>
                    <div *ngIf="editForm.get('idInvitoRef')!.invalid && (editForm.get('idInvitoRef')!.dirty || editForm.get('idInvitoRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idInvitoRef')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idInvitoRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idTask" for="field_idTask">Id Task</label>
                    <select class="form-control" id="field_idTask" name="idTask" formControlName="idTaskId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="consuntivoTaskOption.id" *ngFor="let consuntivoTaskOption of idtasks; trackBy: trackById">{{ consuntivoTaskOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idTask" for="field_idTask">Id Task</label>
                    <select class="form-control" id="field_idTask" name="idTask" formControlName="idTaskId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="previsioneTaskOption.id" *ngFor="let previsioneTaskOption of idtasks; trackBy: trackById">{{ previsioneTaskOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.task.idPratica" for="field_idPratica">Id Pratica</label>
                    <select class="form-control" id="field_idPratica" name="idPratica" formControlName="idPraticaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="praticaOption.id" *ngFor="let praticaOption of praticas; trackBy: trackById">{{ praticaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
