<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-allegato-template-task-heading" jhiTranslate="eoloprjApp.allegatoTemplateTask.home.createOrEditLabel">Create or edit a Allegato Template Task</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.idTemplateTaskRef" for="field_idTemplateTaskRef">Id Template Task Ref</label>
                    <input type="number" class="form-control" name="idTemplateTaskRef" id="field_idTemplateTaskRef"
                           formControlName="idTemplateTaskRef"/>
                    <div *ngIf="editForm.get('idTemplateTaskRef')!.invalid && (editForm.get('idTemplateTaskRef')!.dirty || editForm.get('idTemplateTaskRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idTemplateTaskRef')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idTemplateTaskRef')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idTemplateTaskRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.idTipoAllegatoRef" for="field_idTipoAllegatoRef">Id Tipo Allegato Ref</label>
                    <input type="number" class="form-control" name="idTipoAllegatoRef" id="field_idTipoAllegatoRef"
                           formControlName="idTipoAllegatoRef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.formato" for="field_formato">Formato</label>
                    <input type="number" class="form-control" name="formato" id="field_formato"
                           formControlName="formato"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.idFileRef" for="field_idFileRef">Id File Ref</label>
                    <input type="number" class="form-control" name="idFileRef" id="field_idFileRef"
                           formControlName="idFileRef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.pubPriv" for="field_pubPriv">Pub Priv</label>
                    <input type="number" class="form-control" name="pubPriv" id="field_pubPriv"
                           formControlName="pubPriv"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.templateTask" for="field_templateTask">Template Task</label>
                    <select class="form-control" id="field_templateTask" name="templateTask" formControlName="templateTaskId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="templateTaskOption.id" *ngFor="let templateTaskOption of templatetasks; trackBy: trackById">{{ templateTaskOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.allegatoTemplateTask.tipoAllegato" for="field_tipoAllegato">Tipo Allegato</label>
                    <select class="form-control" id="field_tipoAllegato" name="tipoAllegato" formControlName="tipoAllegatoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoAllegatoOption.id" *ngFor="let tipoAllegatoOption of tipoallegatoes; trackBy: trackById">{{ tipoAllegatoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
