<div>
    <h2 id="page-heading">
        <span jhiTranslate="eoloprjApp.persona.home.title">Personas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-persona" [routerLink]="['/persona/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="eoloprjApp.persona.home.createLabel">
            Create a new Persona
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eoloprjApp.persona.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="personas?.length === 0">
        <span jhiTranslate="eoloprjApp.persona.home.notFound">No personas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="personas && personas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.idStudio">Id Studio</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.codiceFiscale">Codice Fiscale</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.areaDiInteresse">Area Di Interesse</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.titolo">Titolo</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.cognome">Cognome</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.dataDiNascita">Data Di Nascita</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.luogoDiNascita">Luogo Di Nascita</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.professione">Professione</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.tipo">Tipo</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.discriminator">Discriminator</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.idRuoloPersona">Id Ruolo Persona</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.tipoRuoloUtente">Tipo Ruolo Utente</span></th>
                    <th scope="col" ><span jhiTranslate="eoloprjApp.persona.id">Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas ;trackBy: trackId">
                    <td><a [routerLink]="['/persona', persona.id, 'view']">{{ persona.id }}</a></td>
                    <td>{{ persona.idStudio }}</td>
                    <td>{{ persona.codiceFiscale }}</td>
                    <td>{{ persona.areaDiInteresse }}</td>
                    <td>{{ persona.titolo }}</td>
                    <td>{{ persona.cognome }}</td>
                    <td>{{ persona.nome }}</td>
                    <td>{{ persona.dataDiNascita }}</td>
                    <td>{{ persona.luogoDiNascita }}</td>
                    <td>{{ persona.professione }}</td>
                    <td>{{ persona.tipo }}</td>
                    <td>{{ persona.discriminator }}</td>
                    <td>{{ persona.idRuoloPersona }}</td>
                    <td>{{ persona.tipoRuoloUtente }}</td>
                    <td>
                        <div *ngIf="persona.idId">
                            <a [routerLink]="['/indirizzo-persona', persona.idId , 'view']" >{{ persona.idId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/persona', persona.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/persona', persona.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(persona)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
