<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="telefonoPersona">
            <h2><span jhiTranslate="eoloprjApp.telefonoPersona.detail.title">Telefono Persona</span> {{ telefonoPersona.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.telefonoPersona.idPersonaRef">Id Persona Ref</span></dt>
                <dd>
                    <span>{{ telefonoPersona.idPersonaRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.telefonoPersona.etichetta">Etichetta</span></dt>
                <dd>
                    <span>{{ telefonoPersona.etichetta }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.telefonoPersona.valore">Valore</span></dt>
                <dd>
                    <span>{{ telefonoPersona.valore }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.telefonoPersona.persona">Persona</span></dt>
                <dd>
                    <div *ngIf="telefonoPersona.personaId">
                        <a [routerLink]="['/persona', telefonoPersona.personaId, 'view']">{{ telefonoPersona.personaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/telefono-persona', telefonoPersona.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
