<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-telefono-persona-heading" jhiTranslate="eoloprjApp.telefonoPersona.home.createOrEditLabel">Create or edit a Telefono Persona</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.telefonoPersona.idPersonaRef" for="field_idPersonaRef">Id Persona Ref</label>
                    <input type="number" class="form-control" name="idPersonaRef" id="field_idPersonaRef"
                           formControlName="idPersonaRef"/>
                    <div *ngIf="editForm.get('idPersonaRef')!.invalid && (editForm.get('idPersonaRef')!.dirty || editForm.get('idPersonaRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idPersonaRef')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idPersonaRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.telefonoPersona.etichetta" for="field_etichetta">Etichetta</label>
                    <input type="number" class="form-control" name="etichetta" id="field_etichetta"
                           formControlName="etichetta"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.telefonoPersona.valore" for="field_valore">Valore</label>
                    <input type="number" class="form-control" name="valore" id="field_valore"
                           formControlName="valore"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.telefonoPersona.idPersonaRef" for="field_idPersonaRef">Id Persona Ref</label>
                    <select class="form-control" id="field_idPersonaRef" name="idPersonaRef" formControlName="idPersonaRefId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id" *ngFor="let personaOption of personas; trackBy: trackById">{{ personaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
