<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-previsione-attivita-heading" jhiTranslate="eoloprjApp.previsioneAttivita.home.createOrEditLabel">Create or edit a Previsione Attivita</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.idTask" for="field_idTask">Id Task</label>
                    <input type="number" class="form-control" name="idTask" id="field_idTask"
                           formControlName="idTask"/>
                    <div *ngIf="editForm.get('idTask')!.invalid && (editForm.get('idTask')!.dirty || editForm.get('idTask')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idTask')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idTask')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idTask')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.dataPianificata" for="field_dataPianificata">Data Pianificata</label>
                    <input type="text" class="form-control" name="dataPianificata" id="field_dataPianificata"
                           formControlName="dataPianificata"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.oraPianificata" for="field_oraPianificata">Ora Pianificata</label>
                    <input type="text" class="form-control" name="oraPianificata" id="field_oraPianificata"
                           formControlName="oraPianificata"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.dataScadenza" for="field_dataScadenza">Data Scadenza</label>
                    <input type="text" class="form-control" name="dataScadenza" id="field_dataScadenza"
                           formControlName="dataScadenza"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.previsioneAttivita.idTask" for="field_idTask">Id Task</label>
                    <select class="form-control" id="field_idTask" name="idTask" formControlName="idTaskId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="previsioneTaskOption.id" *ngFor="let previsioneTaskOption of idtasks; trackBy: trackById">{{ previsioneTaskOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
