<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="previsioneAttivita">
            <h2><span jhiTranslate="eoloprjApp.previsioneAttivita.detail.title">Previsione Attivita</span> {{ previsioneAttivita.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.idTaskRef">Id Task Ref</span></dt>
                <dd>
                    <span>{{ previsioneAttivita.idTaskRef }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.dataPianificata">Data Pianificata</span></dt>
                <dd>
                    <span>{{ previsioneAttivita.dataPianificata }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.oraPianificata">Ora Pianificata</span></dt>
                <dd>
                    <span>{{ previsioneAttivita.oraPianificata }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.dataScadenza">Data Scadenza</span></dt>
                <dd>
                    <span>{{ previsioneAttivita.dataScadenza }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.version">Version</span></dt>
                <dd>
                    <span>{{ previsioneAttivita.version }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.previsioneAttivita.idPrevisioneAttivita">Id Previsione Attivita</span></dt>
                <dd>
                    <div *ngIf="previsioneAttivita.idPrevisioneAttivitaId">
                        <a [routerLink]="['/previsione-task', previsioneAttivita.idPrevisioneAttivitaId, 'view']">{{ previsioneAttivita.idPrevisioneAttivitaId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/previsione-attivita', previsioneAttivita.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
