<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-nota-pratica-heading" jhiTranslate="eoloprjApp.notaPratica.home.createOrEditLabel">Create or edit a Nota Pratica</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.idNotaPratica" for="field_idNotaPratica">Id Nota Pratica</label>
                    <input type="number" class="form-control" name="idNotaPratica" id="field_idNotaPratica"
                           formControlName="idNotaPratica"/>
                    <div *ngIf="editForm.get('idNotaPratica')!.invalid && (editForm.get('idNotaPratica')!.dirty || editForm.get('idNotaPratica')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idNotaPratica')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idNotaPratica')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idNotaPratica')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.idPraticaRef" for="field_idPraticaRef">Id Pratica Ref</label>
                    <input type="number" class="form-control" name="idPraticaRef" id="field_idPraticaRef"
                           formControlName="idPraticaRef"/>
                    <div *ngIf="editForm.get('idPraticaRef')!.invalid && (editForm.get('idPraticaRef')!.dirty || editForm.get('idPraticaRef')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idPraticaRef')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idPraticaRef')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.data" for="field_data">Data</label>
                    <input type="text" class="form-control" name="data" id="field_data"
                           formControlName="data"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.nota" for="field_nota">Nota</label>
                    <input type="text" class="form-control" name="nota" id="field_nota"
                           formControlName="nota"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.notaPratica.pratica" for="field_pratica">Pratica</label>
                    <select class="form-control" id="field_pratica" name="pratica" formControlName="praticaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="praticaOption.id" *ngFor="let praticaOption of praticas; trackBy: trackById">{{ praticaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
