<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tipo-allegato-heading" jhiTranslate="eoloprjApp.tipoAllegato.home.createOrEditLabel">Create or edit a Tipo Allegato</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.tipoAllegato.idTipoAllegato" for="field_idTipoAllegato">Id Tipo Allegato</label>
                    <input type="number" class="form-control" name="idTipoAllegato" id="field_idTipoAllegato"
                           formControlName="idTipoAllegato"/>
                    <div *ngIf="editForm.get('idTipoAllegato')!.invalid && (editForm.get('idTipoAllegato')!.dirty || editForm.get('idTipoAllegato')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idTipoAllegato')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idTipoAllegato')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.tipoAllegato.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.tipoAllegato.formatiAmmessi" for="field_formatiAmmessi">Formati Ammessi</label>
                    <input type="text" class="form-control" name="formatiAmmessi" id="field_formatiAmmessi"
                           formControlName="formatiAmmessi"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.tipoAllegato.maxDimensioneAmmessa" for="field_maxDimensioneAmmessa">Max Dimensione Ammessa</label>
                    <input type="text" class="form-control" name="maxDimensioneAmmessa" id="field_maxDimensioneAmmessa"
                           formControlName="maxDimensioneAmmessa"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.tipoAllegato.version" for="field_version">Version</label>
                    <input type="text" class="form-control" name="version" id="field_version"
                           formControlName="version"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
