<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="templatePratica">
            <h2><span jhiTranslate="eoloprjApp.templatePratica.detail.title">Template Pratica</span> {{ templatePratica.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eoloprjApp.templatePratica.idTemplatePratica">Id Template Pratica</span></dt>
                <dd>
                    <span>{{ templatePratica.idTemplatePratica }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.templatePratica.nomeTemplate">Nome Template</span></dt>
                <dd>
                    <span>{{ templatePratica.nomeTemplate }}</span>
                </dd>
                <dt><span jhiTranslate="eoloprjApp.templatePratica.elencoTagAmbito">Elenco Tag Ambito</span></dt>
                <dd>
                    <span>{{ templatePratica.elencoTagAmbito }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/template-pratica', templatePratica.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
