<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invito-pratica-heading" jhiTranslate="eoloprjApp.invitoPratica.home.createOrEditLabel">Create or edit a Invito Pratica</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.invitoPratica.idPratica" for="field_idPratica">Id Pratica</label>
                    <input type="number" class="form-control" name="idPratica" id="field_idPratica"
                           formControlName="idPratica"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.invitoPratica.idPratica" for="field_idPratica">Id Pratica</label>
                    <select class="form-control" id="field_idPratica" name="idPratica" formControlName="idPraticaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invitoOption.id" *ngFor="let invitoOption of idpraticas; trackBy: trackById">{{ invitoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.invitoPratica.pratica" for="field_pratica">Pratica</label>
                    <select class="form-control" id="field_pratica" name="pratica" formControlName="praticaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="praticaOption.id" *ngFor="let praticaOption of praticas; trackBy: trackById">{{ praticaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
