<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-condivisione-pratica-heading" jhiTranslate="eoloprjApp.condivisionePratica.home.createOrEditLabel">Create or edit a Condivisione Pratica</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.idUserAmmesso" for="field_idUserAmmesso">Id User Ammesso</label>
                    <input type="number" class="form-control" name="idUserAmmesso" id="field_idUserAmmesso"
                           formControlName="idUserAmmesso"/>
                    <div *ngIf="editForm.get('idUserAmmesso')!.invalid && (editForm.get('idUserAmmesso')!.dirty || editForm.get('idUserAmmesso')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUserAmmesso')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 8 }">
                            This field cannot be more than 8.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUserAmmesso')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.ruolo" for="field_ruolo">Ruolo</label>
                    <input type="number" class="form-control" name="ruolo" id="field_ruolo"
                           formControlName="ruolo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.idUserConcedente" for="field_idUserConcedente">Id User Concedente</label>
                    <input type="number" class="form-control" name="idUserConcedente" id="field_idUserConcedente"
                           formControlName="idUserConcedente"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.statoInvito" for="field_statoInvito">Stato Invito</label>
                    <input type="number" class="form-control" name="statoInvito" id="field_statoInvito"
                           formControlName="statoInvito"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.idPraticaRef" for="field_idPraticaRef">Id Pratica Ref</label>
                    <input type="number" class="form-control" name="idPraticaRef" id="field_idPraticaRef"
                           formControlName="idPraticaRef"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.ruolo" for="field_ruolo">Ruolo</label>
                    <select class="form-control" id="field_ruolo" name="ruolo" formControlName="ruoloId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rappresentanzaPraticaOption.id" *ngFor="let rappresentanzaPraticaOption of ruolos; trackBy: trackById">{{ rappresentanzaPraticaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.idUserConcedente" for="field_idUserConcedente">Id User Concedente</label>
                    <select class="form-control" id="field_idUserConcedente" name="idUserConcedente" formControlName="idUserConcedenteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id" *ngFor="let personaOption of iduserconcedentes; trackBy: trackById">{{ personaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.pratica" for="field_pratica">Pratica</label>
                    <select class="form-control" id="field_pratica" name="pratica" formControlName="praticaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="praticaOption.id" *ngFor="let praticaOption of praticas; trackBy: trackById">{{ praticaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloprjApp.condivisionePratica.userPersona" for="field_userPersona">User Persona</label>
                    <select class="form-control" id="field_userPersona" name="userPersona" formControlName="userPersonaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userPersonaOption.id" *ngFor="let userPersonaOption of userpersonas; trackBy: trackById">{{ userPersonaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
